
body{
    background-image: url("https://i.gifer.com/1KQU.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{

    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='38' height='46' viewport='0 0 100 100' style='fill:black;font-size:23px;'><text y='50%'>✍</text></svg>") 16 0,auto; 
}
